{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Bienvenue sur votre dashboard d'administrateur</h1>
            <p class="lead">Gérez votre back-office</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 boxes-card-info-admin">
                <div class="card text-white bg-success mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Utilisateurs :</h5>
                        <p class="card-text">{{ users|length }} utilisateurs</p>
                    </div>
                </div>
                <div class="card text-white bg-primary mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Annonces :</h5>
                        <p class="card-text">{{ books|length }} annonces</p>
                    </div>
                </div>
                <div class="card text-white bg-danger mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Annonces sans images :</h5>
                        <p class="card-text">{{ booksWithoutImage|length }} annonces</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>Listes des utilisateurs :</h2>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Utilisateurs</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles|join(',') }}</td>
                    <td>
                        {% if app.user.id != user.id %}
                            <a href="{{ path('delete_user', {id:user.id}) }}" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Supprimer</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}